<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Box"
             connectionString="Data Source=serverName;Initial Catalog=databaseName;Trusted_Connection=True;"
             providerName="Definitif.Data.Implementation.MsSql.Database,Definitif.Data" />
    </connectionStrings>
</configuration>
