<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="0c4435c6-f47f-420d-b1eb-811eaa4a912d"
             UpgradeCode="4227793c-8570-4b6a-a327-89510c6861eb"
             Name="Definitif Box" Version="1.2.1.0"
             Manufacturer="Definitif"
             Language="1033">
        <Package InstallerVersion="300" Compressed="yes" />

        <!-- Intallation conditions -->
        <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>

        <!-- Media packaging -->
        <Media Id="1" Cabinet="box.cab" EmbedCab="yes" />

        <!-- Installation preparation -->
        <Property Id="VSINSTALLDIR">
            <RegistrySearch Id="VSInstallRegistry" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0" Name="InstallDir" Type="directory" />
        </Property>
        <Property Id="DefinitifClassifierId" Value="Definitif.VisualStudio.Classifier.Microsoft.c93524c7-ea1e-4c7c-9d36-b03815379e78" />
        <Property Id="DefinitifClassifierVsix" Value="Definitif Box Classifier.vsix" />

        <!-- Custom actions -->
        <CustomAction Id="InstallVsix" Execute="immediate" Directory="EXTENSIONSLOCATION"
                      ExeCommand='"[VSINSTALLDIR]vsixinstaller.exe" "[DefinitifClassifierVsix]"' Return="ignore">Extensions=3</CustomAction>
        <CustomAction Id="UninstallVsix" Execute="immediate" Directory="EXTENSIONSLOCATION"
                      ExeCommand='"[VSINSTALLDIR]vsixinstaller.exe" /q /uninstall:[DefinitifClassifierId]' Return="ignore">NOT VSINSTALLDIR=""</CustomAction>

        <!-- Creating directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="MANUFACTURERDIR" Name="Definitif">
                    <!-- Installing to GAC -->
                    <Component Id="LibraryDefinitifBox" Guid="D8962C74-7A20-43c5-89B2-C5E6DCDD3832">
                        <File Assembly=".net" KeyPath="yes" Id="DefinitifBox" DiskId="1" Name="$(var.Definitif.Box.TargetName).DLL" Source="$(var.Definitif.Box.TargetPath)" />
                    </Component>
                    <Component Id="LibraryDefinitifData" Guid="F0F4D4F8-209A-44af-A797-52760DB0BC5C">
                        <File Assembly=".net" KeyPath="yes" Id="DefinitifData" DiskId="1" Name="$(var.Definitif.Data.TargetName).DLL" Source="$(var.Definitif.Data.TargetPath)" />
                    </Component>
                    <Component Id="LibraryDefinitifSecurityCryptography" Guid="30262A47-170D-4612-860A-B6BEF2D185A6">
                        <File Assembly=".net" KeyPath="yes" Id="DefinitifSecurityCryptography" DiskId="1" Name="$(var.Definitif.Security.Cryptography.TargetName).DLL" Source="$(var.Definitif.Security.Cryptography.TargetPath)" />
                    </Component>
                    <Component Id="LibraryDefinitifServiceModel" Guid="A6CF1643-76C3-46f8-8224-FB7D69148FE7">
                        <File Assembly=".net" KeyPath="yes" Id="DefinitifServiceModel" DiskId="1" Name="$(var.Definitif.ServiceModel.TargetName).DLL" Source="$(var.Definitif.ServiceModel.TargetPath)" />
                    </Component>
                    <Component Id="LibraryWcfContrib" Guid="3ECE0358-052B-4f60-81BF-2AE807D8DDCF">
                        <File Assembly=".net" KeyPath="yes" Id="WcfContrib" DiskId="1" Name="WcfRestContrib.DLL" Source="$(var.Definitif.ServiceModel.ProjectDir)Bin\WcfRestContrib.dll" />
                    </Component>

                    <!-- Installing to File System -->
                    <Directory Id="INSTALLLOCATION" Name="Definitif Box">
                        <!-- Common directories manipulation -->
                        <Component Id="Common" Guid="338F1D99-7E73-4ac8-B84A-8912E9C6BD2C">
                            <RemoveFolder Id="INSTALLLOCATION" On="uninstall" />
                        </Component>
                        <Directory Id="LIBRARIESLOCATION" Name="Bin">
                            <!-- Definitif.* -->
                            <Component Id="LibraryDefinitifBoxBinary" Guid="4F300DB0-E753-4ee3-9071-929F95453E1D">
                                <File KeyPath="yes" Id="DefinitifBoxBinary" DiskId="1" Name="$(var.Definitif.Box.TargetFileName)" Source="$(var.Definitif.Box.TargetPath)" />
                            </Component>
                            <!-- Definitif.Data.* -->
                            <Component Id="LibraryDefinitifDataBinary" Guid="A604F6DF-B967-4d47-B227-5B59F0CBD0F6">
                                <File KeyPath="yes" Id="DefinitifDataBinary" DiskId="1" Name="$(var.Definitif.Data.TargetFileName)" Source="$(var.Definitif.Data.TargetPath)" />
                            </Component>
                            <!-- Definitif.Security.* -->
                            <Component Id="LibraryDefinitifSecurityCryptographyBinary" Guid="024FD6F2-DAEA-409e-B16C-B6F9F4C61352">
                                <File KeyPath="yes" Id="DefinitifSecurityCryptographyBinary" DiskId="1" Name="$(var.Definitif.Security.Cryptography.TargetFileName)" Source="$(var.Definitif.Security.Cryptography.TargetPath)" />
                            </Component>
                            <!-- Definitif.ServiceModel.* -->
                            <Component Id="LibraryDefinitifServiceModelBinary" Guid="13167650-DDBD-4eca-A0DC-B07032A99880">
                                <File KeyPath="yes" Id="DefinitifServiceModelBinary" DiskId="1" Name="$(var.Definitif.ServiceModel.TargetFileName)" Source="$(var.Definitif.ServiceModel.TargetPath)" />
                            </Component>
                            <!-- External libraries -->
                            <Component Id="LibraryWcfContribBinary" Guid="6D49687B-C715-40ab-A298-0EE256F27E1F">
                                <File KeyPath="yes" Id="WcfContribBinary" DiskId="1" Name="WcfRestContrib.dll" Source="$(var.Definitif.ServiceModel.ProjectDir)Bin\WcfRestContrib.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="EXTENSIONSLOCATION" Name="Extensions">
                            <Component Id="ExtensionDefinitifVisualStudioClassifier" Guid="DAC27856-3ABA-4d67-8C1B-472846EED3F8">
                                <File Assembly="no" Id="DefinitifVisualStudioClassifier" DiskId="1"
                                      Name="Definitif Box Classifier.vsix" Source="$(var.Definitif.VisualStudio.Classifier.TargetDir)$(var.Definitif.VisualStudio.Classifier.TargetName).vsix" />
                            </Component>
                            <Component Id="ExtensionDefinitifReferences" Guid="3593EF51-DEE8-46d8-82DE-3ADBB2115385">
                                <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Microsoft\.NETFramework\AssemblyFolders\Definitif Reference Assemblies" Type="string" Value="[LIBRARIESLOCATION]" Action="write" />
                                <RegistryValue Root="HKLM" Key="Software\Microsoft\.NETFramework\AssemblyFolders\Definitif Reference Assemblies" Type="string" Value="[LIBRARIESLOCATION]" Action="write" />
                            </Component>
                            <Component Id="ExtensionDefinitifVisualStudioGenerator" Guid="E8350BCC-BF67-4c22-B302-3CDDAA68C220">
                                <File Assembly="no" KeyPath="yes" Id="DefinitifVisualStudioGenerator" DiskId="1"
                                      Name="$(var.Definitif.VisualStudio.Generator.TargetFileName)" Source="$(var.Definitif.VisualStudio.Generator.TargetPath)" />
                                <!-- COM class registration -->
                                <Class Id="{CAE380BA-42D4-11DF-B540-4B2F56D89593}" Context="InprocServer32" Description="Definitif.VisualStudio.BoxFileGenerator" ThreadingModel="both" ForeignServer="mscoree.dll">
                                    <ProgId Id="Definitif.VisualStudio.BoxFileGenerator" Description="Definitif.VisualStudio.BoxFileGenerator" />
                                </Class>
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32\1.2.1.0" Name="Class" Value="Definitif.VisualStudio.BoxFileGenerator" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32\1.2.1.0" Name="Assembly" Value="Definitif.VisualStudio.Generator, Version=1.2.1.0, Culture=neutral, PublicKeyToken=b8111f4e244d21ba" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32\1.2.1.0" Name="RuntimeVersion" Value="v4.0.30128" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32\1.2.1.0" Name="CodeBase" Value="file:///[#DefinitifVisualStudioGenerator]" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32" Name="Class" Value="Definitif.VisualStudio.BoxFileGenerator" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32" Name="Assembly" Value="Definitif.VisualStudio.Generator, Version=1.2.1.0, Culture=neutral, PublicKeyToken=b8111f4e244d21ba" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30128" Type="string" Action="write" />
                                <RegistryValue Root="HKCR" Key="CLSID\{CAE380BA-42D4-11DF-B540-4B2F56D89593}\InprocServer32" Name="CodeBase" Value="file:///[#DefinitifVisualStudioGenerator]" Type="string" Action="write" />

                                <!-- x64: Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\.box -->
                                <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\.box" Type="string" Value="DefinitifBoxGenerator" Action="write" />

                                <!-- x64: Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator -->
                                <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Type="string" Value="Definitif Box Generator" Action="write" />
                                <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Name="CLSID" Type="string" Value="{CAE380BA-42D4-11DF-B540-4B2F56D89593}" Action="write" />
                                <RegistryValue Root="HKLM" Key="Software\Wow6432Node\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Name="GeneratesDesignTimeSource" Type="integer" Value="1" Action="write" />

                                <!-- x86: Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\.box -->
                                <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\.box" Type="string" Value="DefinitifBoxGenerator" Action="write" />
                                <!-- x86: Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator -->
                                <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Type="string" Value="Definitif Box Generator" Action="write" />
                                <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Name="CLSID" Type="string" Value="{CAE380BA-42D4-11DF-B540-4B2F56D89593}" Action="write" />
                                <RegistryValue Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\DefinitifBoxGenerator" Name="GeneratesDesignTimeSource" Type="integer" Value="1" Action="write" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Complete" Title="Definitif Box" Level="1" Display="expand">
            <ComponentRef Id="Common" />
            <!-- Common Definitif Box libraries -->
            <Feature Id="Libraries" Title="Libraries" Level="1"
                     Description="Installs Definitif Box libraries to GAC.">
                <ComponentRef Id="LibraryDefinitifBox" />
                <ComponentRef Id="LibraryDefinitifBoxBinary" />
                <ComponentRef Id="LibraryDefinitifData" />
                <ComponentRef Id="LibraryDefinitifDataBinary" />
                <ComponentRef Id="LibraryDefinitifSecurityCryptography" />
                <ComponentRef Id="LibraryDefinitifSecurityCryptographyBinary" />
                <ComponentRef Id="LibraryDefinitifServiceModel" />
                <ComponentRef Id="LibraryDefinitifServiceModelBinary" />
                <ComponentRef Id="LibraryWcfContrib" />
                <ComponentRef Id="LibraryWcfContribBinary" />
            </Feature>
            <!-- Visual Studio 2010 extensions -->
            <Feature Id="Extensions" Title="VS 2010 Extensions" Level="1"
                     Description="Installs Visual Studio 2010 Extensions.">
                <Condition Level="5">VSINSTALLDIR=""</Condition>
                <ComponentRef Id="ExtensionDefinitifVisualStudioClassifier" />
                <ComponentRef Id="ExtensionDefinitifReferences" />
                <ComponentRef Id="ExtensionDefinitifVisualStudioGenerator" />
            </Feature>
        </Feature>

        <InstallExecuteSequence>
            <Custom Action="InstallVsix" After="InstallFinalize" />
            <Custom Action="UninstallVsix" Before="RemoveFiles" />
        </InstallExecuteSequence>

        <!-- User interface -->
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <UIRef Id="WixUI_FeatureTree" />
    </Product>
</Wix>
