<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Core"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DefinitifDataTest;Integrated Security=True"
             providerName="Definitif.Data.Providers.MsSql.Database,Definitif.Data" />
    </connectionStrings>
</configuration>